<html>
	<head>
		<meta charset="UTF-8">
		<META HTTP-EQUIV="refresh" CONTENT="30"; URL="http://http://10.84.89.162/">
		<title>LabTracker - Map</title>
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	
	<body>
		<div class="col-md-4">
 			<h1>Library North<small> 1st floor</small></h1>
		</div>
		<div class="container">
			<h3 class="pull-right">Tue, Mar 10</h3>
		</div>
		<hr>

		<style type="text/css">
			.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
			.tg td{font-family:Arial, sans-serif;font-size:14px;padding:20px 20px;border-style:hidden;border-width:1px;overflow:hidden;word-break:normal;}
			.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:20px 20px;border-style:hidden;	border-width:1px;overflow:hidden;word-break:normal;}
			.tg .station-cell{background-color:#000000;color:#000000}
			.tg .pathway-cell{background-color:#ffcb2f;color:#ffcb2f}
			.tg .user-cell{background-color:#ffcb2f;color:#000000}
		</style>
		
		<table class="tg" align="center">
		  <tr>
		    <th class="station-cell"><!--$g1-->G1</th>
		    <th class="station-cell"><!--$g8-->G8</th>
		    <th class="pathway-cell"></th>
		    <th class="station-cell"><!--$f1-->F1</th>
		    <th class="station-cell"><!--$f2-->F2</th>
		    <th class="station-cell"><!--$f3-->F3</th>
		    <th class="station-cell"><!--$f4-->F4</th>
		    <th class="pathway-cell"></th>
		    <th class="station-cell"></th>
		    <th class="station-cell"></th>
		    <th class="station-cell"></th>
		    <th class="station-cell"></th>
		  </tr>
		  <tr>
		    <td class="station-cell"><!--$g2-->G2</td>
		    <td class="station-cell"><!--$g7-->G7</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$e1-->E1</td>
		    <td class="station-cell"><!--$e2-->E2</td>
		    <td class="station-cell"><!--$e3-->E3</td>
		    <td class="station-cell"><!--$e4-->E4</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$e5-->E5</td>
		    <td class="station-cell"><!--$e6-->E6</td>
		    <td class="station-cell"><!--$e7-->E7</td>
		    <td class="station-cell"><!--$e8-->E8</td>
		  </tr>
		  <tr>
		    <td class="station-cell"><!--$g3-->G3</td>
		    <td class="station-cell"><!--$g6-->G6</td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		  </tr>
		  <tr>
		    <td class="station-cell"><!--$g4-->G4</td>
		    <td class="station-cell"><!--$g5-->G5</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$d1-->D1</td>
		    <td class="station-cell"><!--$d2-->D2<br></td>
		    <td class="station-cell"><!--$d3-->D3</td>
		    <td class="station-cell"><!--$d4-->D4</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$d5-->D5</td>
		    <td class="station-cell"><!--$d6-->D6</td>
		    <td class="station-cell"><!--$d7-->D7</td>
		    <td class="station-cell"><!--$d8-->D8</td>
		  </tr>
		  <tr>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$c1-->C1</td>
		    <td class="station-cell"><!--$c2-->C2</td>
		    <td class="station-cell"><!--$c3-->C3</td>
		    <td class="station-cell"><!--$c4-->C4</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$c5-->C5</td>
		    <td class="station-cell"><!--$c6-->C6</td>
		    <td class="station-cell"><!--$c7-->C7</td>
		    <td class="station-cell"><!--$c8-->C8</td>
		  </tr>
		  <tr>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		  </tr>
		  <tr>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$b1-->B1</td>
		    <td class="station-cell"><!--$b2-->B2</td>
		    <td class="station-cell"><!--$b3-->B3</td>
		    <td class="station-cell"><!--$b4-->B4</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$b5-->B5</td>
		    <td class="station-cell"><!--$b6-->B6</td>
		    <td class="station-cell"><!--$b7-->B7</td>
		    <td class="station-cell"><!--$b8-->B8</td>
		  </tr>
		  <tr>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$a1-->A1</td>
		    <td class="station-cell"><!--$a2-->A2</td>
		    <td class="station-cell"><!--$a3-->A3</td>
		    <td class="station-cell"><!--$a4-->A4</td>
		    <td class="pathway-cell"></td>
		    <td class="station-cell"><!--$a5-->A5</td>
		    <td class="station-cell"><!--$a6-->A6</td>
		    <td class="station-cell"><!--$a7-->A7</td>
		    <td class="station-cell"><!--$a8-->A8</td>
		  </tr>
		  <tr>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="user-cell">X</td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		    <td class="pathway-cell"></td>
		  </tr>
		</table>

	</body>

</html>
